<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <add key="twitterConsumerKey" value="RFiChij1B7Mq0YY7g3zZHcuFa" />
    <add key="twitterConsumerSecret" value="Zzm7CssYdvzzYXJIDNOujDSGazGDI9woW1PDGZeyxv4YgBrWmp" />
    <add key="twitterAccessToken" value="1344128514-hNGrFLtf9PK8XhDxm4eRARWm65W4rv0mpMKX9db" />
    <add key="twitterAccessTokenSecret" value="FZR7WkGdGpep5i074piXXLD7WDJX67fdyiF4JaydVPALh" />
    <add key="facebookAccessToken" value="CAAGRaISGeGMBAL6eOCfH3ZBlwoxFxHHdYJwZBCx1uWNOZBkBWHDM2S43RfIjUZBone53xIwZBNeaZA7umwZCJ9zfnNZCzEv0yEsDBrW47ZCXWbP4GHWFcEeVFgKf2Oo1WlZAZBjbc63y0JzUKQaouaotLSB9Dat4zTeg6aDa9JTUXupCQZCmcX2P1TBWYn5HmBMmttNisA6UkxufewZDZD" />
    <add key="instagramAccessToken" value="2317824726.c605919.72693fa8c2c5452d9a397b10ac947efa" />
    <add key="instagramClientID" value="c605919c039d4a748753435e72ca6995" />
    <add key="instagramClientSecret" value="9e35e737e79046249524705d132ffa94" />
    <add key="instagramRedirectUri" value="http://localhost" />
  </appSettings>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.3.19379" newVersion="1.9.3.19379" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.3.19379" newVersion="1.9.3.19379" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.PlatformServices" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.3.19381" newVersion="1.9.3.19381" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Threading.Tasks.Extensions.Desktop" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.168.0" newVersion="1.0.168.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
